 
    body {
      font-family: 'Cairo', sans-serif;
      background-image: URL( 'photo/b.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-color: #fff;
      color: #000000; /* font color */
      font-size: small;
  }

  
  
  

    th, td, tr, th, tbody, thead{
    border: 3px solid #000000;
  }

   table {
    width: 100%;
    text-align: center;
    
  }
  th i {
    color: #07ff66; /* Change to the desired color */
}

  img {
    float: left;
    margin-right: 10px;
  }

  .container input[type="submit"] {
      background-color: #CE121D;
      color: #fff;
      cursor: pointer;
    }

    .container input[type="submit"]:hover {
    /* color: #000000;*/
  
      background-color: #d37979;
    }
    a {
  text-decoration: none;
  font-family: 'Cairo', sans-serif;
  color: #000000;
}

    .btn {
      font-family: 'Cairo', sans-serif;
    display: inline-block;
    font-weight: 400;
    color: #000000;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #007bff;
    border: 2.5px solid #007bff;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover {
    
    background-color: #cadef1;
    border-color: #0062cc;
    color: #000000;
}

.btn-primary {
  font-family: 'Cairo', sans-serif;
    color: #000000;
    background-color: #07ff66;
    border-color: #000000;
}

.btn-primary:hover {
    color: #000000;
    background-color: #f8d2d2;
    border-color: #f9fbfd;
} 

.custom-link {
  font-family: 'Cairo', sans-serif;
    color: #000000;
    background-color: #07ff66;
    border-color: #0062cc;
}


error-container .h2{
  color: red; 
   font-weight: bold;
}


        