
body {
  font-family: 'Cairo', sans-serif;
       background-image: URL( '../photo/b.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    color: #000000; /* font color */
    font-weight: bold;
  }
    form {
    width: 100%;
 

    border-radius: 30px;
    /*border: 3px solid green;*/
  }
  
  .container h1 {
    text-align: center;
    color: #07ff66;
  }
  
  .container input[type="text"],
  .container input[type="submit"],
  .container input[type="number"],
  .container input[type="time"],
  .container input[type="notes"],
  .container input[type="date"] {
    font-family: 'Cairo', sans-serif;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 3px solid #07ff66;
    border-radius: 4px;
    box-sizing: border-box;
    
    font-weight: bold;
  }
  
  .container input[type="submit"] {
    font-family: 'Cairo', sans-serif;
    background-color: #07ff66;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    font-size: medium;
  }
  
  .container input[type="submit"]:hover {
    background-color: white;
  }
  
 

  .container0 {
    max-width: 100%;
    margin-top: 10px;
    /*margin-top: 80px;
    margin-bottom: 100px;
    margin-right: 90px;
    margin-left: 10px;*/
    
    padding-left: 0px;
    border-radius: 10px;
   /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
   
   
    
  }
  table {
    width: 100%; /* Make the table take full width of its container */
    border-collapse: collapse; /* Combine borders for a cleaner look */
   
    table-layout: fixed;
    text-align: center;
  }

th, td {
    border: 2px solid;
    padding: 10px;
    text-align: right; /* Align text to the right */
    word-wrap: break-word; /* Allow long words to break and wrap */
    text-align: center;
}

th {
    font-weight: bold; /* Keep headers bold */
}

td {
    font-weight: normal; /* Data cells are not bold */
}
.notes-column {
  white-space: normal; /* Allows text to wrap */
  word-wrap: break-word; /* Allows long words to break and wrap */
  max-width: 200px; /* Set a maximum width for the column */
}

    .container select {
width: 100%;
padding: 10px;
margin-bottom: 10px;
border: 3px solid #07ff66;
border-radius: 4px;
box-sizing: border-box;
font-family: Electrolize;
font-weight: bold;
}

